#num1{
    margin: 50px;
    width: 260px;
    height: 80px;
    margin-left: 180px;
    position: absolute;
    border-radius: 80%;
    border: none;
    outline: none;
    text-align: center;
    font-size: xx-large;
}
#num2{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 260px;
    height: 80px;
    border-radius: 80%;
    margin-left: 820px;
    position: relative;
    text-align: center;
    font-size: xx-large;
}
#operators{
    margin-left: 560px;
    width: 140px;
    text-align: center;
    height: 50px;
}
#btn{
    width: 120px;
    margin-left: 570px;
    margin-bottom: 60px; 
}
.form{
    background-image: linear-gradient(to bottom,rgb(87, 85, 85),rgb(210, 219, 210));
}
#result{
    height: 80px;
    margin-left: 560px;
}